---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Tools from '../components/Tools.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import 'animate.css';
import Testimonial from '../components/Testimonial.astro'
import TimeLine from '../components/TimeLine.astro'

const testimonial = [
{
  'name': 'Hector Ruiz',
  'rol': 'Web Developer at Alfred',
  'opinion': 'lorem impum dolor lorem impum dolor lorem impum dolor'
}
]


---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-12">
    <div class="container">
      <h2 class="mb-16 text-5xl font-sans heading2 animate__animated text-center">Herramientas</h2>
      <div class="grid grid-cols-2 gap-12 md:grid-cols-2 lg:grid-cols-6">
        <Tools icon="mdi:language-javascript" title="Javascript" />
        <Tools icon="mdi:react" title="ReactJs" />
        <Tools icon="mdi:book-open-page-variant" title="Astro" />
        <Tools icon="mdi:vuejs" title="VueJs" />
        <Tools icon="mdi:nodejs" title="NodeJs" />
        <Tools icon="mdi:language-css3" title="CSS" />
        <Tools icon="mdi:tailwind" title="Tailwind" />
        <Tools icon="mdi:language-markdown" title="Tachyons" />
        <Tools icon="mdi:graphql" title="GraphQl" />
        <Tools icon="mdi:api" title="Rest" />
        <Tools icon="mdi:git" title="Git" />
        <Tools icon="mdi:language-html5" title="HTML5" />
      </div>
    </div>
  </section>
  <h2 class="container text-5xl heading2 font-sans text-center">Proyectos</h2>
  <ContentMedia imgSrc="/astro-portfolio/jumbo.png">
    <h2 class="font-sans heading2" >Tiendas Jumbo Colombia</h2>
    <p class="text-xl font-sans">
      Jumbo es una cadena de hipermercados de origen chileno, con presencia en Chile, Argentina y Colombia. Este proyecto fue desarrollado especificamente para Colombia
      usando VtexIO, NodeJs, ReactJs, Css, JsVanilla en checkout <a href="https://www.tiendasjumbo.co/">ver sitio</a
      >.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/astro-portfolio/metro.png" reverseImg={true}>
    <h2 class="font-sans heading2">Tiendas Metro Colombia</h2>
    <p class="text-xl font-sans">
      Metro es una cadena de supermercados de origen peruano, perteneciente al holding chileno Cencosud. Tiene presencia en Perú desde 1992 y Colombia desde 2013. 
      este proyecto fue desarrollado especificamente para Colombia usando VtexIO, NodeJs, ReactJs, Css, JsVanilla en checkout
      <a href="https://www.tiendasmetro.co/">ver sitio</a>. 
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/astro-portfolio/contigock.png">
    <h2 class="font-sans heading2">ContigoCK México</h2>
    <p class="text-xl font-sans">
      Circle K se ha convertido en una de las marcas de tiendas de conveniencia más reconocidas en todo el mundo por sus productos de calidad y excelente servicio al cliente. 
      Esta desarrollado con VtexIO, NodeJs, ReactJs, JsVanilla en checkout <a href="https://www.contigock.com.mx/">ver sitio</a>
    </p>
  </ContentMedia>
  <div class="flex justify-center font-sans mb-20">
    <a href="/astro-portfolio/projects" class="px-2 cursor-pointer hover:opacity-80">Ver todos los proyectos</a>
  </div>
  <TimeLine />
  <Testimonial/>
  
  <!-- <section class="mt-12 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl font-sans">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section> -->
</DefaultLayout>

<style>
  .heading2{
    margin-top: 5rem;
    font-weight: 400;
  }
</style>
