---
import { Media } from 'accessible-astro-components'

const { imgSrc, reverseImg = false } = Astro.props
import 'animate.css'
---

<section class="my-20">
  <div class="container">
    <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
      {!reverseImg ? <Media class="pulse rounded-lg cursor-pointer" src={imgSrc} /> : ''}
      <div class="space-content flex flex-col justify-center">
        <slot />
      </div>
      {reverseImg ? <Media class="pulse rounded-lg cursor-pointer" src={imgSrc} /> : ''}
    </div>
  </div>
</section>

<style>
   .press {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}
 .press:hover {
  top: 5px;
}

.pulse:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}
</style>
