---
const { count, title, sub } = Astro.props
---

<div class="animate text-center font-sans">
  <p class="text-6xl font-bold font-sans">{count}</p>
  <p class="text-4xl font-semibold font-sans">{title}</p>
  <p class="text-2xl font-sans">{sub}</p>
</div>

<style lang="scss">
  div > p:first-child {
    color: var(--action-color);
  }
</style>
