---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container font-sans">
      <p>
        &copy; {currentYear} - Daniel Acosta
      </p>
    </div>
  </section>
</footer>
