---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item font-sans">
      <a href="/astro-portfolio/">Inicio</a>
    </li>
    <li class="menu-item font-sans">
      <a href="/astro-portfolio/projects/">Proyectos</a>
    </li>
    <li class="menu-item font-sans">
      <a href="/astro-portfolio/blog/">Blog</a>
    </li>
    <li class="menu-item font-sans has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Example Pages</button>
      <ul class="dropdown-menu">
        <li class="submenu-item font-sans">
          <a href="/astro-portfolio/mdx-page/">MDX Page</a>
        </li>
        <li class="submenu-item font-sans">
          <a href="/astro-portfolio/markdown-page/">Markdown Page</a>
        </li>
        <li class="submenu-item font-sans">
          <a href="/astro-portfolio/accessible-components">Accessible Components</a>
        </li>
      </ul>
    </li>
    <li class="menu-item font-sans">
      <a href="https://accessible-astro.dev" title="external link" rel="external noopener noreferrer">External Link</a>
    </li>
    <li class="menu-item font-sans type-icon">
      <a href="https://github.com/markteekman/accessible-astro-starter" title="Go to the GitHub page">
        <Icon pack="ion" name="logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
