<div class="container my-24 px-6 mx-auto">

  <section class="mb-32 text-gray-800 text-center">

    <h2 class="heading2 text-4xl font-bold mb-12 font-sans switch-p">Opinan de mi</h2>

    <div class="grid md:grid-cols-3 gap-x-6 lg:gap-x-12">
      <div class="mb-12 md:mb-0">
        <div class="flex justify-center mb-6">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-full shadow-lg w-32" />
        </div>
        <h5 class="text-lg font-bold mb-4 font-sans switch-p">Linda Vargas</h5>
        <h6 class="font-medium text-blue-600 mb-4 font-sans switch-r">UX/UI Designer</h6>
        <p class="mb-4 font-sans switch-p">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left"
            class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
            </path>
          </svg>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
          tenetur quae quaerat ad velit ab hic tenetur.
        </p>
        <div class="flex justify-center">
            <img class="w-10 icons-testimonials" src="/icons/linkedin.png" title="Linkedin iconos creados por Fathema Khanom - Flaticon" />
        </div>
      </div>
      <div class="mb-12 md:mb-0">
        <div class="flex justify-center mb-6">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-full shadow-lg w-32" />
        </div>
        <h5 class="text-lg font-bold mb-4 font-sans switch-p">Paula Perez</h5>
        <h6 class="font-medium text-blue-600 mb-4 font-sans switch-r">Graphic Designer</h6>
        <p class="mb-4 font-sans switch-p">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left"
            class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
            </path>
          </svg>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
          laboriosam, nisi ut aliquid commodi.
        </p>
        <div class="flex justify-center">
            <img class="w-10 icons-testimonials" src="/icons/linkedin.png" title="Linkedin iconos creados por Fathema Khanom - Flaticon" />
        </div>
      </div>
      <div class="mb-0">
        <div class="flex justify-center mb-6">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-full shadow-lg w-32" />
        </div>
        <h5 class="text-lg font-bold mb-4 font-sans switch-p">Hector Ruiz</h5>
        <h6 class="font-medium text-blue-600 mb-4 font-sans switch-r">Web Developer</h6>
        <p class="mb-4 font-sans switch-p">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left"
            class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
            </path>
          </svg>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          voluptatum deleniti atque.
        </p>
        <div class="flex justify-center">
            <img class="w-10 icons-testimonials" src="/icons/linkedin.png" title="Linkedin iconos creados por Fathema Khanom - Flaticon" />
        </div>
      </div>
    </div>

  </section>

</div>

<style>
    .switch-p{
        color: var(--font-color);
    }
    .switch-r{
        color: var(--action-color);
    }
    .heading2{
    margin-top: 5rem;
    font-weight: 400;
  }
</style>